<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}">
<head>
 <title>Add Contact</title>
</head>
<body>
   <!-- comman header -->

   <!-- main contan -->
 
     <div id="content" >
           <!-- if you are user login thene also show the side_bar -->
         <div th:if="${loggedinUser}">
             <div data-th-replace="~{user/side_bar :: side_bar}"></div>
        </div>
        <div  class="pl-0 pt-c bg-slate-700 " style="height: 1000px;">
            <div class="grid grid-cols-12 pt-2">
                <div class="col-span-12 flex justify-center">
                        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                            <div class="card block p-6  bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                                <h1 class="text-2xl font-semibold"> Add New Contact</h1>
                                <p class="text-gray-500">This contact will be stored on cloud, you can 
                                    direct email this contact.. </p>
                                    <form action="" class="m-10 pt-2">
                                        <!-- contact name  -->
                                        <div class="mb-3">
                                            <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact name</label>
                                            <div class="relative mb-6">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="fa-regular fa-user h-4 w-4"></i>
                                            </div>
                                            <input type="text" id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name">
                                            </div>
                                        </div>
                                         <!-- contact Email  -->
                                        <div class="mb-3">
                                            <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Email</label>
                                            <div class="relative mb-6">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="fa-regular fa-envelope h-4 w-4"></i>
                                            </div>
                                            <input type="text" id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="@gmail.com">
                                            </div>
                                        </div>
                                            <!-- contact Phone Number  -->
                                        <div class="mb-3">
                                            <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Mobill Number</label>
                                            <div class="relative mb-6">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="fa-solid fa-mobile h-4 w-4"></i>
                                            </div>
                                            <input type="text" id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="+91-999999999">
                                            </div>
                                        </div>
                                        <!-- contact address -->
                                        <data value="" class=" mb-3">
                                            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Address</label>
                                            <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your address..."></textarea>
                                        </data>
                                        <!-- contact description -->
                                        <data value="" class=" mb-3">
                                            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Description</label>
                                            <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your description on your contact..."></textarea>
                                        </data>
                                        <!-- social link  -->
                                        <div class=" flex mt-3 space-x-3">
                                            <!-- facebook link  -->
                                            <div class="w-full ">
                                                <div class="mb-3">
                                                    <div class="relative mb-6">
                                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                        <i class="fa-brands fa-square-facebook h-3 w-3"></i>
                                                    </div>
                                                    <input type="text" id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://facebook.com">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- linkedin link  -->
                                            <div class="w-full">
                                                <div class="mb-3">
                                                    <div class="relative mb-6">
                                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                        <i class="fa-brands fa-linkedin h-3 w-3"></i>
                                                    </div>
                                                    <input type="text" id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://linkedin.com">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload profile picture </label>
                                            <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file">
                                        </div>
                                        <div class="flex items-center mb-3">
                                            <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is this contact is your favorite one ?.</label>
                                            
                                        </div>
                                        <div class="buttan-cantaner text-center">
                                            <button type="submit" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Add Contact</button>
                                            <button type="reset" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Resat</button>
                                        </div>
                                        
                                    </form>
                               
                            </div>
                        </div>
                </div>
            </div>
       
        </div>
     </div>
        <script>
            console.log("thise is a profile page ")
        </script>

</body>
</html>