<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}">
<head>
 <title data-th-text="${loggedinUser.name}+'|Dashbaord'"> Dashbaord</title>
</head>
<body>
   <!-- comman header -->

   <!-- main contan -->
 
     <div id="content" >
           <!-- if you are user login thene also show the side_bar -->
         <div th:if="${loggedinUser}">
             <div data-th-replace="~{user/side_bar :: side_bar}"></div>
        </div>
        <div  class="pl-0 pt-c bg-slate-700 " style="height: 1000px;">
            <div class=" h-2/4 bg-green-300">
                <h1>welcome TO Dashbaord page </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis id nemo 
                odit consectetur libero.</p>
            </div>
       
        </div>
     </div>
        <script>
            console.log("thise is a profile page ")
        </script>

</body>
</html>