<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}">
<head>
 <title>home page</title>
</head>
<body>
   <!-- comman header -->

   <!-- main contan -->
 
        <div id="content">
            <h1>welcome ro home</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis id nemo 
                odit consectetur libero.</p>
       
        </div>
        <script>
            console.log("about page")
        </script>

</body>
</html>