<!DOCTYPE html>
<html lang="en"th:replace="~{base ::parent(~{::#content},~{::title},~{})}">
<head>
    <title>services</title>
</head>
<body>
   <div id="content">
    <h1>welcome to services</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore itaque odio unde deleniti tempora temporibus sunt voluptatum. 
        Ea eveniet nostrum perferendis? Expedita quasi nam labore dolorum illo suscipit, blanditiis iste?</p>
   </div>
   <script>
    console.log("services page")
</script>
</body>
</html>